<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vinay Tambey">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post | Instagram Clone</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Vinstagram</h1>

    <main>
        <div class="posts edit">
            <h2 class="username">@<%= post.username %></h2>
            <img src="/uploads/<%= post.image %>" alt="<%= post.image %>">
            
            <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
                <textarea placeholder="Enter the Caption..." name="caption"><%= post.caption %></textarea>
                
                <div class="links">
                    <a href="/posts">Back</a>
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>