<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vinay Tambey">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vinstagram | For Gen Alpha</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Vinstagram</h1>

    <main>
        <% for(let post of posts) { %>
            <div class="posts">
                <h2 class="username">@<%= post.username %></h2>
                <img src="uploads/<%= post.image %>" alt="<%= post.image %>">
                <p class="caption"><%= post.caption %></p>

                <div class="links">
                    <a href="/posts/<%= post.id %>">See in Detail</a>
                    <a href="/posts/<%= post.id %>/edit">Edit</a>

                    <form method="POST" action="/posts/<%= post.id %>/delete?_method=DELETE" class="deleteForm">
                        <button type="submit" class="deleteBtn">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>

        <a class="newPostLink" href="/posts/new"> 
            <img src="icons/plus.svg" alt="add icon"> 
            Create a New Post 
        </a>
    </main>
</body>
</html>